/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

:root {
  --faded-rose: hsl(3, 55%, 85%);
  --faded-coral: hsl(15, 56%, 89%);
  --faded-green: hsl(68, 8%, 53%);
  --lavender: #a98eaa;
  --background: #0d0a0f;
  --background-shade: rgba(13, 10, 15, 0.75);
  --text-color: hsl(3, 55%, 85%);
  --main-font: "Sacramento";
  --secondary-font: "Montserrat";
}

* {
  font-family: var(--secondary-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: var(--background);
  color: var(--text-color);
}

.d-none {
  display: none;
}

hr {
  border: 1px dashed var(--lavender);
  width: 100%;
  max-width: 800px;
  margin: 2rem;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.001ms !important;
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* HOME */
#home {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../images/cafe-main.JPG");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: var(--lavender);
}

.cta {
  width: 100%;
  height: 100vh;
}

.main-menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.home-book-button {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--background);
  background-color: var(--faded-rose);
  border: 5px solid var(--faded-rose);
  outline: 3px dashed var(--background);
  outline-offset: -8px;
  font-size: 5rem;
  font-family: var(--main-font);
  display: block;
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: block;
  color: var(--faded-coral);
  font-size: 4rem;
  font-family: var(--main-font);
  text-align: center;
}

.reserve {
  margin: 1rem;
  font-size: 3rem;
  font-family: var(--secondary-font);
  color: var(--faded-coral);
  text-align: center;
}

.site-link {
  margin: 0.5rem;
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: var(--faded-coral);
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .home-book-button {
    font-size: 4rem;
  }

  .title {
    font-size: 3rem;
  }

  .reserve {
    font-size: 2.5rem;
  }

  .site-link {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .home-book-button {
    font-size: 3rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .reserve {
    font-size: 2rem;
  }

  .site-link {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .home-book-button {
    font-size: 2.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .reserve {
    font-size: 2rem;
  }

  .site-link {
    font-size: 1.5rem;
  }
}

/* NAV */
.bar {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  display: inline;
  font-family: var(--main-font);
  font-size: 3rem;
  padding: 0.5rem;
  color: var(--background);
  background: var(--text-color);
  border: 10px solid var(--text-color);
  outline: 2px dashed var(--background);
  outline-offset: -7px;
  text-decoration: none;
}

.nav-links {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-family: var(--secondary-font);
  color: var(--text-color);
}

.nav-link {
  padding: 1rem;
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.hamburger {
  display: none;
}

.hamburger-bar {
  display: block;
  width: 25px;
  height: 2px;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--lavender);
}

@media screen and (max-width: 1000px) {
  .logo {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .nav-links {
    position: fixed;
    left: 100%;
    top: 5rem;
    flex-flow: column wrap;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
  }

  .nav-links li {
    padding: 1.2rem 0;
    margin: 0.2rem;
  }

  .nav-links.active {
    left: 0;
    background-color: var(--background);
  }

  .hamburger {
    display: block;
    cursor: pointer;
    background-color: var(--background);
    border: none;
    margin-right: 0.5rem;
  }

  .hamburger.active .hamburger-bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .hamburger-bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.active .hamburger-bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}

/* Page Utilities */
.page-title {
  margin-top: 1rem;
  width: 100%;
  display: block;
  color: var(--text-color);
  font-size: 4rem;
  font-family: var(--main-font);
  text-align: center;
}

.subtitle {
  display: block;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  text-align: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  display: inline;
  font-family: "Sacramento";
  font-size: 3rem;
  padding: 0rem 0.5rem;
  margin: 2rem;
  color: var(--background);
  background: var(--text-color);
  border: 10px solid var(--text-color);
  outline: 2px dashed var(--background);
  outline-offset: -7px;
  text-decoration: none;
}

.back-to-top {
  color: var(--text-color);
  font-size: 1rem;
  width: 100vw;
  text-align: center;
  padding: 1rem;
}

/* || MENU */
.menu-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.menu-links {
  display: flex;
  align-items: space-between;
}

.menu-link {
  display: inline;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--faded-rose);
  border: 1px solid var(--faded-rose);
  text-decoration: none;
}

.menu-link:hover {
  background-color: var(--faded-rose);
  color: var(--background);
}

.menu-item-image {
  width: 300px;
  overflow: cover;
  border-radius: 10px;
}

.menu-category {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.menu-category-label {
  color: var(--text-color);
  font-family: "Sacramento";
  font-size: 3.5rem;
  text-align: center;
  margin-top: 1rem;
}

.menu-item {
  width: 75%;
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: top;
}

.item-and-price {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.75rem;
  justify-content: space-between;
}

.menu-item ul li {
  list-style-type: none;
}

.item-details {
  width: 100%;
  padding: 1rem;
}

/* About */

.about-dorycafe {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.about-subsection {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-subsection-text {
  max-width: 50%;
}

.about-subsection-text h2 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0rem;
}

.about-subsection-text p {
  display: block;
  margin: 2rem 0rem;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  text-align: center;
}

.about-subsection img {
  width: 500px;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .about-subsection img {
    width: 400px;
  }

  .about-subsection h2 {
    font-size: 1.5rem;
  }

  .about-subsection p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .about-subsection {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}

/* CONTACT */
.contact-note {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}

.contact-info {
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}

.cafe-hours {
  font-size: 3rem;
  text-align: center;
}

table {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

tr {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

td {
  color: var(--text-color);
  font-size: 2rem;
  padding: 0.5rem;
}

/* BOOK */
.registration-form-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

form {
  color: rgb(62, 62, 62);
  border-radius: 7px;
  font-size: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 1rem;
}

.form-item {
  margin: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.form-label {
  margin: 0.5rem;
  font-size: 1.25rem;
  color: var(--faded-rose);
  text-align: center;
  font-family: var(--secondary-font);
}

.form-field {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  border: 1px solid grey;
  border-radius: 0px;
}

.form-field:focus {
  border: 1px solid var(--faded-rose);
}

.contact-label {
  float: left;
  text-align: left;
  width: 20vw;
  color: rgb(62, 62, 62);
}

.additional-notes {
  text-align: center;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
}

.submit-btn {
  color: pink;
  background-color: rgb(62, 62, 62);

  border-radius: 7px;
  border: 2px solid var(--background-shade);
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
}

.submit-btn:hover {
  background-color: pink;
  color: rgb(62, 62, 62);
}
